In [8]:
import pandas as pd
import numpy as np
df=pd.read_csv('all.csv')
df

,Unnamed: 0,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,filename,link
0,0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt,15970.jpg,http://assets.myntassets.com/v1/images/style/p...
1,1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans,39386.jpg,http://assets.myntassets.com/v1/images/style/p...
2,2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch,59263.jpg,http://assets.myntassets.com/v1/images/style/p...
3,3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants,21379.jpg,http://assets.myntassets.com/v1/images/style/p...
4,4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt,53759.jpg,http://assets.myntassets.com/v1/images/style/p...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44419,44419,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer,2013.0,Casual,Gas Men Caddy Casual Shoe,17036.jpg,http://assets.myntassets.com/v1/images/style/p...
44420,44420,6461,Men,Footwear,Flip Flops,Flip Flops,Red,Summer,2011.0,Casual,Lotto Men's Soccer Track Flip Flop,6461.jpg,http://assets.myntassets.com/v1/images/style/p...
44421,44421,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,2011.0,Casual,Puma Men Graphic Stellar Blue Tshirt,18842.jpg,http://assets.myntassets.com/v1/images/style/p...
44422,44422,46694,Women,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring,2017.0,Casual,Rasasi Women Blue Lady Perfume,46694.jpg,http://assets.myntassets.com/v1/images/style/p...
44423,44423,51623,Women,Accessories,Watches,Watches,Pink,Winter,2016.0,Casual,Fossil Women Pink Dial Chronograph Watch ES3050,51623.jpg,http://assets.myntassets.com/assets/images/516...

In [4]:
df['gender'].value_counts()

gender
Men       22147
Women     18631
Unisex     2161
Boys        830
Girls       655
Name: count, dtype: int64

In [5]:
df['articleType'].value_counts()

articleType
Tshirts                7067
Shirts                 3217
Casual Shoes           2845
Watches                2542
Sports Shoes           2036
                       ...
Cushion Covers            1
Mens Grooming Kit         1
Body Wash and Scrub       1
Suits                     1
Ipad                      1
Name: count, Length: 143, dtype: int64

In [46]:
df.isnull().sum()

Unnamed: 0              0
id                      0
gender                  0
masterCategory          0
subCategory             0
articleType             0
baseColour             15
season                 21
year                    1
usage                 317
productDisplayName      0
filename                0
link                    0
dtype: int64

In [ ]:
df.nunique()

Unnamed: 0            44424
id                    44424
gender                    5
masterCategory            7
subCategory              45
articleType             143
baseColour               46
season                    4
year                     13
usage                     8
productDisplayName    31128
filename              44424
link                  44418
dtype: int64

In [2]:
df[(df['gender'] == 'Men') & (df['articleType'] == 'Shirts')].shape[0]

NameError: name 'df' is not defined

In [ ]:
df.subCategory.value_counts()

subCategory
Topwear                     15402
Shoes                        7343
Bags                         3055
Bottomwear                   2694
Watches                      2542
Innerwear                    1808
Jewellery                    1079
Eyewear                      1073
Fragrance                    1011
Sandal                        963
Wallets                       933
Flip Flops                    913
Belts                         811
Socks                         698
Lips                          527
Dress                         478
Loungewear and Nightwear      470
Saree                         427
Nails                         329
Makeup                        307
Headwear                      293
Ties                          258
Accessories                   129
Scarves                       118
Cufflinks                     108
Apparel Set                   106
Free Gifts                    104
Stoles                         90
Skin Care                      77
Skin                           69
Eyes                           43
Mufflers                       38
Shoe Accessories               24
Sports Equipment               21
Gloves                         20
Hair                           19
Bath and Body                  12
Water Bottle                    7
Perfumes                        6
Umbrellas                       6
Beauty Accessories              4
Wristbands                      4
Sports Accessories              3
Home Furnishing                 1
Vouchers                        1
Name: count, dtype: int64

In [65]:
df.articleType.value_counts()

articleType
Tshirts                7067
Shirts                 3217
Casual Shoes           2845
Watches                2542
Sports Shoes           2036
                       ...
Cushion Covers            1
Mens Grooming Kit         1
Body Wash and Scrub       1
Suits                     1
Ipad                      1
Name: count, Length: 143, dtype: int64

In [71]:
df.isnull().sum()

Unnamed: 0              0
id                      0
gender                  0
masterCategory          0
subCategory             0
articleType             0
baseColour             15
season                 21
year                    1
usage                 317
productDisplayName      0
filename                0
link                    0
dtype: int64

In [79]:
df['season'].value_counts()

season
Summer    21472
Fall      11431
Winter     8517
Spring     2983
Name: count, dtype: int64

In [99]:
adf=df[df['season'].isnull()]

In [100]:
adf['season'].fillna('all',inplace=True)
adf['link']

C:\Users\hmodi\AppData\Local\Temp\ipykernel_15776\1310710007.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  adf['season'].fillna('all',inplace=True)
C:\Users\hmodi\AppData\Local\Temp\ipykernel_15776\1310710007.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adf['season'].fillna('all',inplace=True)

282      http://assets.myntassets.com/v1/images/style/p...
5997     http://assets.myntassets.com/v1/images/style/p...
6510     http://assets.myntassets.com/v1/images/style/p...
12658    http://assets.myntassets.com/v1/images/style/p...
12994    http://assets.myntassets.com/v1/images/style/p...
13523    http://assets.myntassets.com/v1/images/style/p...
16042    http://assets.myntassets.com/v1/images/style/p...
21272    http://assets.myntassets.com/assets/images/537...
23835    http://assets.myntassets.com/v1/images/style/p...
24198    http://assets.myntassets.com/v1/images/style/p...
27725    http://assets.myntassets.com/v1/images/style/p...
30113    http://assets.myntassets.com/v1/images/style/p...
30445    http://assets.myntassets.com/v1/images/style/p...
32246    http://assets.myntassets.com/v1/images/style/p...
32615    http://assets.myntassets.com/v1/images/style/p...
33691    http://assets.myntassets.com/v1/images/style/p...
33852    http://assets.myntassets.com/v1/images/style/p...
34357    http://assets.myntassets.com/v1/images/style/p...
34519    http://assets.myntassets.com/v1/images/style/p...
36121    http://assets.myntassets.com/v1/images/style/p...
36874    http://assets.myntassets.com/v1/images/style/p...
Name: link, dtype: object

In [90]:
df['price'] = np.random.uniform(100, 1000, size=len(df))